[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
python-dotenv = "*"
textblob = "*"
pymongo = "*"
falcon = "*"
ujson = "*"
cython = "*"
gunicorn = "*"
pytest = "*"
nltk = "*"
mypy = "*"
pytest-mypy = "*"
praw = "*"
requests = "*"
"basc-py4chan" = "*"
selenium = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.6"
