[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
python-dotenv = "*"
dask = "*"
toolz = "*"
cloudpickle = "*"
textblob = "*"
jsonpickle = "*"
pymongo = "*"
falcon = "*"
ujson = "*"
cython = "*"
gunicorn = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.6"
